# Local PostgreSQL configuration

DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=qa_portfolio
DB_PASSWORD=your_password
DB_PORT=5432

# Cloud PostgreSQL connection
# DATABASE_URL=postgresql://user:password@host:port/database